@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Pallets Colors */
    --primary-color: #000e38;
    --secondary-color: #ffffff;
    --tertiary-color: #ffa01a;
    --shadow-color: #b4b4b4;
    --hover-color: #c9dcfc;
    --text-color: #FFF;
    /* Fonts */
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

body{
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
    position: relative;
    background-color: #000e38;
}

header{
    justify-content: left;
    padding: 3% 20% 1% 20%;
}

main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 5vh auto;
    padding: 2.5rem;
    box-shadow: 1px 1px 3px var(--shadow-color);
    gap: 1rem;
    background-color: var(--secondary-color);
}

footer {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 1rem;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
}

input.table-search{
    height: 40px;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px black;
    padding: 0 10px;
    font-size:1rem;
}

.content-button-search {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}

.header__menu{
    display: flex;
    gap: 5rem
}

.header__menu__link{
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--tertiary-color);
    text-decoration: none;
}

.header__menu__link:hover{
    color: var(--hover-color);
}

@media (max-width:900px){
    .header{
        padding: 2% 10% 0% 10%;
        display: flex;
        width: 100%;
        line-height: 14px;
        flex-flow: row;
        align-items: center;
        position: relative;
    }
    .header__menu{
        gap: 3rem;
    }
    .header-title{
        display: flex;
        font-size: 0.8rem;
    }
    .header__menu__link{
        font-size: 0.8em;
        vertical-align: middle;
    }
    main{
        padding: 0;
        margin: 20px 0 0 0;
        width:100%;
        box-shadow: none;
    }
}