.modal{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #080020de;
    opacity: 0;
    z-index: -1;
}

.modal.active{
    opacity: 1;
    z-index: 1;
}

.modal-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: var(--secondary-color);
    box-shadow: var(--shadow-color)
}

.modal-header{
    color: #FFB800;
    background-color: var(--primary-color);
    display: flex;
    position: relative;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    padding: 0 0 0 0;
}

.modal-close{
    position: absolute;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.modal-close:hover{
    background-color: #da3301;
    color: white;
}

.modal-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding: 0 1.25rem; 
}

.content-fields{
    display: flex;
    flex-flow: column;
    width: calc(50% - 10px);
}

.modal-field{
    height: 2.5rem;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px black;
    padding: 0 0.8rem;
    font-size: 1rem;
}

.modal-field:focus{
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 3px var(--shadow-color);
}

.label-field{
    font-size: 0.75rem;
    padding: 0 0 0.5rem 0;
}

.modal-footer{
    background-color: inherit;
    padding: 0 1.25rem;
    display: flex;
    flex-flow: row-reverse;
}

.labelInput{
    font-size: 1.25rem;
    pointer-events: none;
    transition: .5s;
    position:relative;
    position:initial;
}

/* TESTES DE TRANSIÇÃO DO LABEL QUANDO RECEBE O FOCO
/* .modal-field:focus ~ .labelInput,
.modal-field:valid ~ .labelInput{
    top: -20px;
    font-size: 10rem;
    color: rgb(34, 140, 246);
} */

@media (max-width:900px){
    .modal{
        top:100%;
        transition: all 500ms ease;
    }
    .modal.active{
        top:0;
    }
    .modal-content{
        margin:0;
        width:100%;
        position:fixed;
    }
    .content-fields{
        width:100%;
    }
}