.records{
    width: 100%;
    user-select: none;
    text-align: left;
    color: #f9faff;
}

.records th{
    height: 40px;
    background-color: var(--primary-color);
    font-size: 18px;  
    text-align: center;  
}

.records td{
    height: 40px;
    color: var(--primary-color);
    font-size: 16px; 
    padding-left: 20px;
}

tr:nth-child(even) {
    background-color: #d1d4da;
}
tr:nth-child(odd) {
    background-color: #eeeff4;
}

.records th:last-child,
.records td:last-child{
    padding: 0;
    min-width: 140px;
    text-align: center;
}

.records tr:hover{
    background-color: var(--hover-color);
}

@media(max-width:1100px){
    .records{
        border-spacing: 0.20rem;
    }
    .records thead{
        display:none;
    }
    .records tr{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
    .records td:not(:first-child){
        display:flex;
        justify-content: space-between;
        padding: 5 10px;
    }
    .records td{
        margin: 1px;
    }
    .records tr:hover{
        background-color: inherit;
    }
}